# PROGETTO

Before starting, install package listed in FILEDEIPKG.txt

## Retail Data Set Analysis

Download data obtained from Kaggle:
https://www.kaggle.com/manjeetsingh/retaildataset/downloads/retaildataset.zip/1

Import libraries used for the analysis

In [10]:
# import libraries for the analysis
import os
import pandas as pd

In [4]:
# Put these at the top of every notebook, to get automatic reloading and inline plotting
%reload_ext autoreload
%autoreload 2
%matplotlib inline

Set constant

In [9]:
BASEPATH = os.path.abspath('')
FEATURES_DATASET = 'Features data set.csv'
SALES_DATASET = 'sales data-set.csv'
STORES_DATASET  = 'stores data-set.csv'
FEATURES_PATH = os.path.join(BASEPATH,FEATURES_DATASET)
SALES_PATH = os.path.join(BASEPATH,SALES_DATASET)
STORES_PATH = os.path.join(BASEPATH,STORES_DATASET)
print (FEATURES_PATH)
print (SALES_PATH)
print (STORES_PATH)

C:\Users\origgfe1\02_Formazione\Corsi\Percorso Data Science\GIT_data_science_fede\data_science_fede\Features data set.csv
C:\Users\origgfe1\02_Formazione\Corsi\Percorso Data Science\GIT_data_science_fede\data_science_fede\sales data-set.csv
C:\Users\origgfe1\02_Formazione\Corsi\Percorso Data Science\GIT_data_science_fede\data_science_fede\stores data-set.csv

### Import Data

#### Features

In [15]:
features_df = pd.read_csv(FEATURES_PATH, low_memory=False)
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [33]:
features_df.shape

(8190, 12)

In [31]:
features_df.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [37]:
features_df['Date']=pd.to_datetime(features_df['Date'])
features_df.dtypes
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-12-02,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-05-03,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [38]:
features_df.isna().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [40]:
features_df['Date'].max()
features_df['Date'].min()

Timestamp('2010-01-10 00:00:00')